.container {
  padding-top: 50px;
}
.container__head {
  font-size: 5rem;
  margin-top: 0;
  padding-top: 5rem;
  color: #0020f6;
  display: inline-block;
  vertical-align: middle;
}
.container__head::before {
  content: "";
  height: 0.75rem;
  display: inline-block;
  width: 150px;
  margin-right: 50px;
  margin-bottom: 15px;
  vertical-align: middle;
  background-color: #e3F307;
}
.container__wrapper {
  max-width: 70rem;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.7rem;
}
.container__cards {
  width: 30%;
  text-align: center;
  position: relative;
  box-shadow: 0 0 0 transparent;
  height: 22rem;
  position: relative;
  background-color: #f5f5f5;
}
.container__cards img {
  width: 332px;
  height: 244px;
}
.container__decs {
  text-align: left;
  font-size: 0.95rem;
  margin-left: 1rem;
  color: #0f0f0f;
}
.container__title {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #001186;
  margin-top: 16px;
  margin-left: 1rem;
}
.container__title::after {
  background-color: #0020f6;
  content: "";
  height: 0.25rem;
  position: absolute;
  right: -0.048rem;
  top: 6%;
  width: 4rem;
}
.container__overlay {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  width: 100%;
  transition: 0.4s ease-in-out;
  height: 6.5rem;
}
@media screen and (max-width: 767px) {
  .container {
    margin-bottom: 33%;
  }
  .container__head {
    font-size: 3rem;
    color: #0020f6;
    margin: 0 0 -23px 5px;
    padding: 20px 0 0 5px;
  }
  .container__head span {
    margin-left: 50px;
  }
  .container__head:before {
    content: "";
    height: 0.6rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
    background-color: #e3F307;
  }
  .container__wrapper {
    gap: 8.5rem;
  }
  .container__cards {
    width: 79%;
    height: 370px;
    text-align: center;
    margin-bottom: -100px;
  }
  .container__decs {
    line-height: 1.5;
    text-align: left;
    font-size: 0.9rem;
    padding: 0px 10px;
    word-spacing: 2px;
  }
  .container__title {
    width: 70%;
    margin-left: 25px;
  }
  .container__title:after {
    background-color: #0020f6;
    content: "";
    height: 0.25rem;
    position: absolute;
    right: -0.048rem;
    top: 7%;
    width: 4rem;
  }
  .container__overlay {
    bottom: 15px;
    height: 7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container__head {
    font-size: 3rem;
    color: #0020f6;
    margin: 0 0 -23px 5px;
    padding: 20px 0 0 5px;
  }
  .container__head:before {
    content: "";
    height: 0.6rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
    background-color: #e3F307;
  }
  .container__overlay {
    bottom: 35px;
    height: 7rem;
  }
  .container__cards {
    height: 400px;
    width: 43%;
    margin-bottom: 20px;
    text-align: center;
  }
  .container__decs {
    line-height: 1.5;
    text-align: left;
    font-size: 0.9rem;
    padding: 0px 10px;
    word-spacing: 2px;
  }
  .container__title {
    width: 70%;
    margin-left: 25px;
  }
  .container__title:after {
    background-color: #0020f6;
    content: "";
    height: 0.25rem;
    position: absolute;
    right: -0.048rem;
    top: 7%;
    width: 4rem;
  }
}

.container__cards:hover .container__overlay {
  height: 100%;
}/*# sourceMappingURL=container.css.map */