@use "./abstract/colors" as *;

.footer {
    padding-top: 5.5rem;
    padding-bottom: 4.5rem;
    background-color: $grey;

    &__menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    &__left__container {
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
        border-bottom: 0.0625rem solid #cdced9;
        padding-bottom: 2.625rem;
    }

    ul {
        list-style: none;
    }

    li {
        margin-top: 10px;
        color: $navyblue;
    }

    a {
        text-decoration: none;
        color: $navyblue;
        padding-top: 2px;

        &:hover {
            color: $primary-blue;
        }
    }

    &__left__menu {
        width: 47%;
    }

    &__nav__list ul {
        padding-left: 10px;
    }

    &__location__heading {
        color: $navyblue;
    }

    &__locations {
        column-count: 2;
        margin-left: -15px;
    }

    &__location {
        break-inside: avoid;
        margin-bottom: 2.5rem;
        margin-right: 30px;
    }

    &__location__address {
        color: $primary-blue;
        font-size: 0.9rem;
        font-family: "Work Sans", sans-serif;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    &__social__container {
        margin-top: 50px;
    }

    &__right__container {
        padding-left: 20px;
        margin-left: 20px;
    }
    &__icons ul {
        display: flex;
        list-style-image: none;
        list-style-type: none;
        margin-bottom: 29px;
        margin-top: 20px;
        margin-left: -40px;
        align-items: center;
    }

    &__icon__item {
        display: inline-block;
        margin-right: 10px;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-10px);
        }
    }

    &__icons__title {
        color: $navyblue;
    }

    &__icon__img {
        margin-top: 20px;
    }

    &__images {
        display: flex;
        height: 83px;
        gap: 15px;
        padding: 10px;
        margin-left: -25px;
    }

    &__image {
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    @media screen and (min-width: 1023px) {
        &__menu {
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            gap: 10rem;
        }

        &__left__container {
            border-bottom: initial;
            border-right: 0.0625rem solid #cdced9;
            padding: 1.75rem 4rem 1.75rem 0;
        }

        &__right__container {
            margin-left: 70px;
        }

        &__locations {
            column-count: 3;
        }

        &__location__address {
            & p {
                line-height: 25px;
            }
        }
        &__social__container {
            display: flex;
            margin-top: 160px;
        }
        &__images {
            margin-left: 25px;
        }
        &__icons__title {
            color: $primary-blue;
            font-size: 25px;
        }
        &__images {
            margin-top: -30px;
        }
        &__image img {
            transition: transform 0.3s ease;
        }
        &__image:hover img {
            transform: scale(1.2);
        }

        &__icons {
            margin-right: 30px;
        }
    }
}
.fab {
    font-size: 1.5rem;
}