@use "./abstract/colors" as *;

.insights {
    color: $white;
    background-color: $primary-blue;
    padding-bottom: 90px;

    &__title {
        font-size: 45px;
        margin: 0 0 -20px 5px;
        padding: 20px 0 0 5px;
        margin-bottom: 20px;

        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            background-color: $yellow;
            height: 0.4rem;
            margin: 0 10px 15px -10px;
            width: 39px;

            @media screen and (min-width: 1023px) {
                content: "";
                display: inline-block;
                margin: 0 10px 15px -10px;
                vertical-align: middle;
                background-color: $yellow;
                height: 0.4rem;
                width: 70px;
            }
        }
    }

    &__desc {
        margin: 0 25px 0 25px;

        @media screen and (min-width: 1023px) {
            margin: 0 25px 0 101px;
            font-size: 24px;
        }
    }

    &__wrapper {
        text-align: center;
        margin-top: 40px;
        padding: 0 20px;
        position: relative;

        @media screen and (min-width: 1023px) {
            display: flex;
            margin: 30px 80px 0 80px;
            gap: 20px;
            border-width: 4px 4px 4px 4px;
            border-color: $white;
        }
    }

    &__cards {
        color: $primary-blue;
        text-align: center;
        position: relative;
        height: auto;
        margin-bottom: 20px;
        background-color: $white;

        @media screen and (min-width: 1023px) {
            background-color: $white;
            color: $primary-blue;
        }

        @media screen and (min-width: 1023px) {
                &__image {
                    overflow: hidden;
                }
        }

        img {
            height: auto;
            width: 100%;

            @media screen and (min-width: 1023px) {
                height: 300px;
                width: 365px;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__text {
        color: $black;
        padding-bottom: 15px;
    }

    &__info {
        text-align: left;
        margin-left: 20px;

        &__head {
            font-weight: 900;
            margin: 10px 0 20px 0;
            padding-right: 5rem;
            position: relative;

            @media screen and (min-width: 1023px) {
                font-size: 0.9rem;
            }
        }
    }

    &__info__head::after {
        background-color: $yellow;
        content: "";
        height: 0.25rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 4rem;
    }
}
